<section class="row">
  <legend class="text-center">
    Users
    <a ng-href="#/users/add/" class="btn btn-sm btn-link pull-right">
      <span class="glyphicon glyphicon-plus"></span> Add user
    </a>
  </legend>
  <article ng-repeat="user in users" class="col-md-6">
    <div class="panel panel-default">

      <header ng-bind="user.fullName" class="panel-heading text-center"></header>

      <div class="panel-body">
        <strong>Email: </strong>
        <a ng-href="mailto:{{user.email}}" ng-bind="user.email"></a>
      </div>

      <footer class="panel-footer">
        <a ng-href="#/users/get/{{user.id}}" class="btn btn-sm btn-block btn-default">
          <span class="glyphicon glyphicon-list-alt"></span> View details
        </a>
        <a ng-href="#/users/tasks/{{user.id}}" class="btn btn-sm btn-block btn-default">
          <span class="glyphicon glyphicon-tasks"></span> View tasks
        </a>
      </footer>

    </div>
  </article>
</section>