/*
  Los módulos son pequeñas piezas del sitio que puedes reutilizar. En este archivo puedes cargar (import) todos los módulos que haces y ponerlos en archivo separado en una carpeta modules.

  Si un módulo posee más de 50 líneas (incluyendo llaves de cierre en líneas a parte) se debe colocar en un archivo separado cuyo nombre debe empezar con el prefijo modulo-, ej: modulo-navbar.less, luego deberá ser cargado con @import antes que cualquier otro módulo definido en este archivo.
*/
a {
  color: #3498DB;
  text-decoration: none;
  &:hover {
    color: #2980B9;
    text-decoration: underline;
  }
}

.tasks {
  .border-radius(5px);
  background: #95A5A6;
  border: 15px solid #34495E;
  padding: 20px 5px 0;
  section {
    @media only screen and (min-width: 48em) {
      border-right: 1px solid #fff;
      &:last-of-type { border-right: none; }
    }
    &:nth-child(odd) {
      .task {
        &:nth-child(odd) { .rotate(-3deg); }
        &:nth-child(even) { .rotate(3deg); }
      }
    }
    &:nth-child(even) {
      .task {
        &:nth-child(odd) { .rotate(3deg); }
        &:nth-child(even) { .rotate(-3deg); }
      }
    }
    &[data-state="to do"] {
      .task {
        background: #E74C3C;
      }
    }
    &[data-state="in progress"] {
      .task {
        background: #F1C40F;
      }
    }
    &[data-state="in testing"] {
      .task {
        background: #E67E22;
      }
    }
    &[data-state="completed"] {
      .task {
        background: #2ECC71;
      }
    }
    &.active {
      background: #7F8C8D;
    }
  }
}
.task {
  .box-shadow(0px 4px 6px #2C3E50);
  color: #2C3E50;
  font-family: @ff-postit;
  margin: 15px auto;
  padding: 15px;
  width: 80%;
  a { color: #2C3E50; }
  &-state {
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: @ff-condensed;
    font-weight: bold;
    position: relative;
    text-shadow: 1px 1px black;
    text-transform: uppercase;
    &-add {
      bottom: 100%;
      color: #fff;
      font-family: @ff-normal;
      font-size: 1.25rem;
      position: absolute;
      left: 0;
      &:hover { color: #dfdfdf; }
    }
  }
  &-title {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
  &-data {
    list-style-type: none;
    padding-left: 0;
  }
  &-issue {}
}