<div class="row tasks">

  <!-- tareas pendientes -->
  <section class="column-12-hand column-auto-lap" data-state="to do">
    <legend class="task-state text-center">
      To do
      <a ng-href="#/tasks/add/" class="task-state-add">
        <octicon type="plus"></octicon> Add task
      </a>
    </legend>
    <article ng-repeat="task in tasks | filter: {state: 1}" class="task box" draggable="true" data-index="{{$index}}">
      <span title="Open" class="octicon octicon-issue-opened pull-right"></span>

      <h3 ng-bind="task.taskName" class="task-title"></h3>

      <ul class="task-data">
        <li class="task-data-item">
          <strong>Project: </strong>
          <a ng-href="#/projects/single/{{task.project._id}}" ng-bind="task.project.projectName"></a>
        </li>
        <li class="task-data-item" ng-if="task.userAssigned !== null">
          <strong>Assigned to: </strong>
          <a ng-href="#/users/single/{{task.userAssigned._id}}">{{task.userAssigned.firstName}} {{task.userAssigned.lastName}}</a>
        </li>
        <li class="task-data-item">
          <strong>Estimated time: </strong>
          <span ng-bind="task.estimatedTime"></span> hours
        </li>
      </ul>

      <div class="task-actions">
        <a ng-href="#/tasks/single/{{task._id}}" class="task-issue">
          <octicon type="info"></octicon> View details
        </a>
      </div>
    </article>
  </section>

  <!-- tareas en progreso -->
  <section class="column-12-hand column-auto-lap" data-state="in progress">
    <legend class="task-state text-center">In progress</legend>
    <article ng-repeat="task in tasks | filter: {state: 2}" class="task box" draggable="true" data-index="{{$index}}">
      <span title="Open" class="octicon octicon-issue-opened pull-right"></span>

      <h3 ng-bind="task.taskName" class="task-title"></h3>

      <ul class="task-data">
        <li class="task-data-item">
          <strong>Project: </strong>
          <a ng-href="#/projects/single/{{task.project._id}}" ng-bind="task.project.projectName"></a>
        </li>
        <li class="task-data-item" ng-if="task.userAssigned !== null">
          <strong>Doing: </strong>
          <a ng-href="#/users/single/{{task.userAssigned._id}}">{{task.userAssigned.firstName}} {{task.userAssigned.lastName}}</a>
        </li>
        <li class="task-data-item">
          <strong>Estimated time: </strong>
          <span ng-bind="task.estimatedTime"></span> hours
        </li>
      </ul>

      <div class="task-actions">
        <a ng-href="#/tasks/single/{{task._id}}" class="task-issue">
          <octicon type="info"></octicon> View details
        </a>
      </div>
    </article>
  </section>

  <!-- tareas en pruebas -->
  <section class="column-12-hand column-auto-lap" data-state="in testing">
    <legend class="task-state text-center">In testing</legend>
    <article ng-repeat="task in tasks | filter: {state: 3}" class="task box" draggable="true" data-index="{{$index}}">
      <span title="Open" class="octicon octicon-issue-opened pull-right"></span>

      <h3 ng-bind="task.taskName" class="task-title"></h3>

      <ul class="task-data">
        <li class="task-data-item">
          <strong>Project: </strong>
          <a ng-href="#/projects/single/{{task.project._id}}" ng-bind="task.project.projectName"></a>
        </li>
        <li class="task-data-item" ng-if="task.userAssigned !== null">
          <strong>Testing: </strong>
          <a ng-href="#/users/single/{{task.userAssigned._id}}">{{task.userAssigned.firstName}} {{task.userAssigned.lastName}}</a>
        </li>
        <li class="task-data-item">
          <strong>Estimated time: </strong>
          <span ng-bind="task.estimatedTime"></span> hours
        </li>
      </ul>

      <div class="task-actions">
        <a ng-href="#/tasks/single/{{task._id}}" class="task-issue">
          <octicon type="info"></octicon> View details
        </a>
      </div>
    </article>
  </section>

  <!-- tareas completas -->
  <section class="column-12-hand column-auto-lap" data-state="completed">
    <legend class="task-state text-center">Completed</legend>
    <article ng-repeat="task in tasks | filter: {state: 4}" class="task box" draggable="true" data-index="{{$index}}">
      <span title="Closed" class="octicon octicon-issue-closed pull-right"></span>

      <h3 ng-bind="task.taskName" class="task-title"></h3>

      <ul class="task-data">
        <li class="task-data-item">
          <strong>Project: </strong>
          <a ng-href="#/projects/single/{{task.project._id}}" ng-bind="task.project.projectName"></a>
        </li>
        <li class="task-data-item">
          <strong>Estimated time: </strong>
          <span ng-bind="task.estimatedTime"></span> hours
        </li>
        <li class="task-data-item" ng-if="task.requiredTime != NULL">
          <strong>Required time: </strong>
          <span ng-bind="task.requiredTime"></span> hours
        </li>
      </ul>

      <div class="task-actions">
        <a ng-href="#/tasks/single/{{task._id}}" class="task-issue">
          <octicon type="info"></octicon> View details
        </a>
      </div>
    </article>
  </section>

</div>