<section class="row">
  <article class="col-md-8 col-md-offset-2">
    <div class="panel panel-info">

      <header ng-bind="project.project_name" class="panel-heading"></header>

      <div class="panel-body">
        <strong>Project owner: </strong>
        <a ng-href="#/clientes/{{project.owner}}" ng-bind="project.owner"></a>

        <strong>Release date: </strong>
        <span ng-bind="project.releaseDate"></span><br>

        <legend>Description:</legend>
        <div ng-bind="project.description"></div>
      </div>

      <footer class="panel-footer">
        <a ng-href="#/tasks/by/project/{{project.id}}" class="btn btn-sm btn-block btn-default">
          <span class="glyphicon glyphicon-tasks"></span> View tasks
        </a>
        <a ng-href="#/projects/edit/{{project.id}}" class="btn btn-sm btn-block btn-default">
          <span class="glyphicon glyphicon-pencil"></span> Edit project
        </a>
        <button ng-click="deleteProject()" class="btn btn-sm btn-block btn-danger">
          <span class="glyphicon glyphicon-remove"></span> Delete project
        </button>
      </footer>

    </div>
  </article>
</section>