<section class="row">
  <article class="col-md-8 col-md-offset-2">
    <div class="panel panel-info">

      <header ng-bind="proyecto.project_name" class="panel-heading"></header>

      <div class="panel-body">
        <strong>Cliente: </strong>
        <a ng-href="#/clientes/{{proyecto.client}}" ng-bind="proyecto.client"></a>

        <div class="row">
          <div class="col-md-12">
            <legend>Fecha de entrega</legend>
          </div>

          <div class="col-md-4">
            <strong>
              Deseada:
            </strong><br>
            <span ng-bind="proyecto.release_date_best"></span>
          </div>

          <div class="col-md-4">
            <strong>
              Esperada:
            </strong><br>
            <span ng-bind="proyecto.release_date_expected"></span>
          </div>

          <div class="col-md-4">
            <strong>
              Peor:
            </strong><br>
            <span ng-bind="proyecto.release_date_worst"></span>
          </div>
        </div>

        <legend>Descripción:</legend>
        <div ng-bind="proyecto.description"></div>
      </div>

      <footer class="panel-footer">
        <a ng-href="#/proyectos/{{proyecto.project_name}}/tareas" class="btn btn-sm btn-block btn-info">
          <span class="glyphicon glyphicon-tasks"></span> Ver tareas
        </a>
      </footer>

    </div>
  </article>
</section>