<section class="row">
  <legend class="section-title text-center column-12-hand">
    Clients
    <a ng-href="#/clients/add/" class="btn btn-primary pull-right">
      <octicon type="plus"></octicon> Add client
    </a>
  </legend>
  <article ng-repeat="client in clients" class="column-12-hand column-6-lap section-item">
    <div class="box">
      <h2 class="section-item-name" ng-bind="client.clientName"></h2>
      <ul class="section-item-data">
        <li class="section-item-data-item">
          <octicon type="mail"></octicon>
          <strong>Email: </strong>
          <a ng-href="mailto:{{client.email}}" ng-bind="client.email"></a>
        </li>
        <li class="section-item-data-item">
          <octicon type="location"></octicon>
          <strong>Address: </strong>
          <span ng-bind="client.address"></span>
        </li>
        <li class="section-item-data-item">
          <octicon type="device-mobile"></octicon>
          <strong>Telephone: </strong>
          <span ng-bind="client.telephone"></span>
        </li>
      </ul>
      <a ng-href="#/clients/single/{{client._id}}" class="btn btn-info btn-block">
        <octicon type="info"></octicon> View details
      </a>
      <a ng-href="#/projects/by/client/{{client._id}}" class="btn btn-info btn-block">
        <octicon type="dashboard"></octicon> View projects
      </a>
    </div>
  </article>
</section>