<section class="row">
  <article class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">

      <header ng-bind="user.fullName" class="panel-heading"></header>

      <div class="panel-body">
        <figure class="pull-right">
          <img ng-src="./img/avatars/{{user.userName}}.jpg" alt="" class="img-rounded circle img-responsive">
        </figure>
        <span class="octicon octicon-mail"></span>
        <strong>Email: </strong>
        <a ng-href="mailto:{{user.email}}" ng-bind="user.email"></a>
        <br>
        <strong>Position: </strong>
        <span ng-bind="user.position"></span>
      </div>

      <footer class="panel-footer">
        <a ng-href="#/tasks/by/user/{{user.id}}" class="btn btn-sm btn-block btn-default">
          <span class="glyphicon glyphicon-tasks"></span> View tasks
        </a>
        <a ng-href="#/users/edit/{{user.id}}" class="btn btn-sm btn-block btn-default">
          <span class="glyphicon glyphicon-pencil"></span> Edit user
        </a>
        <button ng-click="deleteUser()" class="btn btn-sm btn-block btn-danger">
          <span class="glyphicon glyphicon-remove"></span> Delete user
        </button>
      </footer>

    </div>
  </article>
</section>