<section class="row">
  <article class="column-12-hand section-item">
    <div class="box">
      <h2 class="section-item-name">{{user.firstName}} {{user.lastName}}</h2>
      <figure class="pull-right">
        <img ng-src="./img/avatars/{{user.userName}}.jpg" alt="" class="img-rounded circle img-responsive">
      </figure>
      <ul class="section-item-data">
        <li class="section-item-data-item">
          <octicon type="mail"></octicon>
          <strong>Email: </strong>
          <a ng-href="mailto:{{user.email}}" ng-bind="user.email"></a>
        </li>
        <li class="section-item-data-item">
          <octicon type="jersey"></octicon>
          <strong>Position: </strong>
          <span ng-bind="user.position"></span>
        </li>
      </ul>
      <a ng-href="#/tasks/by/user/{{user._id}}" class="btn btn-info btn-block">
        <octicon type="dashboard"></octicon> View tasks
      </a>
      <a ng-href="#/users/edit/{{user._id}}" class="btn btn-primary btn-block">
        <octicon type="pencil"></octicon> Edit user
      </a>
      <a ng-click="deleteUser()" class="btn btn-danger btn-block">
        <octicon type="x"></octicon> Delete user
      </a>
    </div>
  </article>
</section>