<section class="row">
  <article class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">

      <header ng-bind="client.clientName" class="panel-heading"></header>

      <div class="panel-body">
        <octicon type="mail"></octicon>
        <strong>Email: </strong>
        <a ng-href="mailto:{{client.email}}" ng-bind="client.email"></a>
        <br>
        <octicon type="location"></octicon>
        <strong>Address: </strong>
        <span ng-bind="client.address"></span>
        <br>
        <octicon type="device-mobile"></octicon>
        <strong>Telephone: </strong>
        <span ng-bind="client.telephone"></span>
      </div>

      <footer class="panel-footer">
        <a ng-href="#/tasks/by/client/{{client.id}}" class="btn btn-sm btn-block btn-default">
          <span class="glyphicon glyphicon-tasks"></span> View tasks
        </a>
        <a ng-href="#/clients/edit/{{client.id}}" class="btn btn-sm btn-block btn-default">
          <span class="glyphicon glyphicon-pencil"></span> Edit client
        </a>
        <button ng-click="deleteClient()" class="btn btn-sm btn-block btn-danger">
          <span class="glyphicon glyphicon-remove"></span> Delete client
        </button>
      </footer>

    </div>
  </article>
</section>