<section class="row">
  <legend class="text-center column-12-hand">
    Clients
    <a ng-href="#/clients/add/" class="btn btn-sm btn-link pull-right">
      <octicon type="plus"></octicon> Add client
    </a>
  </legend>
  <article ng-repeat="client in clients" class="column-12-hand column-6-lap">
    <div class="panel panel-default">

      <header ng-bind="client.clientName" class="panel-heading text-center"></header>

      <div class="panel-body">
        <octicon type="mail"></octicon>
        <strong>Email: </strong>
        <a ng-href="mailto:{{client.email}}" ng-bind="client.email"></a>
        <br>
        <octicon type="location"></octicon>
        <strong>Address: </strong>
        <span ng-bind="client.address"></span>
        <br>
        <octicon type="device-mobile"></octicon>
        <strong>Telephone: </strong>
        <span ng-bind="client.telephone"></span>
      </div>

      <footer class="panel-footer">
        <a ng-href="#/clients/single/{{client.id}}" class="btn btn-sm btn-block btn-default">
          <span class="glyphicon glyphicon-list-alt"></span> View details
        </a>
        <a ng-href="#/projects/by/client/{{client.id}}" class="btn btn-sm btn-block btn-default">
          <span class="glyphicon glyphicon-tasks"></span> View projects
        </a>
      </footer>

    </div>
  </article>
</section>