<div class="row">

  <!-- tareas pendientes -->
  <section class="col-md-3" id="pendientes">
    <legend class="text-center">Pendientes</legend>
    <article ng-repeat="tarea in tareas | filter: {statement: 'to do'}" class="panel panel-danger">
      <header ng-bind="tarea.task_name" class="panel-heading text-center"></header>
      <div class="panel-body">
        <strong>Proyecto: </strong>
        <a ng-href="#/proyectos/{{tarea.project}}" ng-bind="tarea.project"></a><br>
        <strong>Asignada a:</strong>
        <a ng-href="#/miembros/{{tarea.assigned_to}}" ng-bind="tarea.full_name"></a><br>
        <strong>Equipo:</strong>
        <a ng-href="#/equipos/{{tarea.assigned_team}}" ng-bind="tarea.assigned_team"></a><br>
        <strong>Tiempo estimado: </strong><span ng-bind="tarea.time_estimated"></span>
      </div>
      <footer class="panel-footer">
        <a ng-href="#/tareas/{{tarea.id}}" class="btn btn-sm btn-block btn-danger">
          <span class="glyphicon glyphicon-list-alt"></span> Ver detalles
        </a>
        <button class="btn btn-sm btn-block btn-danger" ng-if="itsMe">
          Empezar <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </footer>
    </article>
  </section>

  <!-- tareas en progreso -->
  <section class="col-md-3" id="progreso">
    <legend class="text-center">En progreso</legend>
    <article ng-repeat="tarea in tareas | filter: {statement: 'in progress'}" class="panel panel-primary">
      <header ng-bind="tarea.task_name" class="panel-heading text-center"></header>
      <div class="panel-body">
        <strong>Proyecto: </strong>
        <a ng-href="#/proyectos/{{tarea.project}}" ng-bind="tarea.project"></a>
        <br>
        <strong>Realizándose por: </strong>
        <a ng-href="#/miembros/{{tarea.assigned_to}}" ng-bind="tarea.full_name"></a><br>
        <strong>Equipo:</strong>
        <a ng-href="#/equipos/{{tarea.assigned_team}}" ng-bind="tarea.assigned_team"></a><br>
        <strong>Tiempo estimado: </strong><span ng-bind="tarea.time_estimated"></span>
        <span ng-if="tarea.time_required != NULL"><br>
          <strong>Tiempo requerido: </strong><span ng-bind="tarea.time_required"></span>
        </span>
      </div>
      <footer class="panel-footer">
        <a ng-href="#/tareas/{{tarea.id}}" class="btn btn-sm btn-block btn-primary">
          <span class="glyphicon glyphicon-list-alt"></span> Ver detalles
        </a>
        <button class="btn btn-sm btn-block btn-primary" ng-if="itsMe">
          Pasar a pruebas <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </footer>
    </article>
  </section>

  <!-- tareas en pruebas -->
  <section class="col-md-3" id="pruebas">
    <legend class="text-center">Pruebas</legend>
    <article ng-repeat="tarea in tareas | filter: {statement: 'testing'}" class="panel panel-warning">
      <header ng-bind="tarea.task_name" class="panel-heading text-center"></header>
      <div class="panel-body">
        <strong>Proyecto: </strong>
        <a ng-href="#/proyectos/{{tarea.project}}" ng-bind="tarea.project"></a>
        <br>
        <strong>Probándose por: </strong>
        <a ng-href="#/miembros/{{tarea.assigned_to}}" ng-bind="tarea.full_name"></a><br>
        <strong>Equipo:</strong>
        <a ng-href="#/equipos/{{tarea.assigned_team}}" ng-bind="tarea.assigned_team"></a><br>
        <strong>Tiempo estimado: </strong><span ng-bind="tarea.time_estimated"></span>
        <span ng-if="tarea.time_required != NULL"><br>
          <strong>Tiempo requerido: </strong><span ng-bind="tarea.time_required"></span>
        </span>
      </div>
      <footer class="panel-footer">
        <a ng-href="#/tareas/{{tarea.id}}" class="btn btn-sm btn-block btn-warning">
          <span class="glyphicon glyphicon-list-alt"></span> Ver detalles
        </a>
        <button class="btn btn-sm btn-block btn-warning" ng-if="itsMe">
           <span class="glyphicon glyphicon-chevron-left"></span> Seguír
        </button>
        <button class="btn btn-sm btn-block btn-warning" ng-if="itsMe">
          Completar <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </footer>
    </article>
  </section>

  <!-- tareas completas -->
  <section class="col-md-3" id="completas">
    <legend class="text-center">Completas</legend>
    <article ng-repeat="tarea in tareas | filter: {statement: 'complete'}" class="panel panel-success">
      <header ng-bind="tarea.task_name" class="panel-heading text-center"></header>
      <div class="panel-body">
        <strong>Proyecto: </strong>
        <a ng-href="#/proyectos/{{tarea.project}}" ng-bind="tarea.project"></a>
        <br>
        <strong>Completada por: </strong>
        <a ng-href="#/miembros/{{tarea.assigned_to}}" ng-bind="tarea.full_name"></a><br>
        <strong>Equipo:</strong>
        <a ng-href="#/equipos/{{tarea.assigned_team}}" ng-bind="tarea.assigned_team"></a><br>
        <strong>Tiempo estimado: </strong><span ng-bind="tarea.time_estimated"></span>
        <span ng-if="tarea.time_required != NULL"><br>
          <strong>Tiempo requerido: </strong><span ng-bind="tarea.time_required"></span>
        </span>
      </div>
      <footer class="panel-footer">
        <a ng-href="#/tareas/{{tarea.id}}" class="btn btn-sm btn-block btn-success">
          <span class="glyphicon glyphicon-list-alt"></span> Ver detalles
        </a>
        <button class="btn btn-sm btn-block btn-success" ng-if="itsMe">
          Volver a pruebas <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
      </footer>
    </article>
  </section>

</div>