<section class="row">
  <article class="column-12-hand section-item">
    <div class="box">
      <h2 class="section-item-name" ng-bind="project.projectName"></h2>
      <a ng-if="project.githubRepo !== null" ng-href="{{project.githubRepo}}" target="_blank" class="pull-right">
        <octicon type="logo-github"></octicon>
      </a>
      <ul class="section-item-data">
        <li class="section-item-data-item">
          <octicon type="organization"></octicon>
          <strong>Project owner: </strong>
          <a ng-href="#/clients/single/{{project.owner._id}}" ng-bind="project.owner.clientName"></a>
        </li>
        <li class="section-item-data-item">
          <octicon type="person"></octicon>
          <strong>Project Leader: </strong>
          <a ng-href="#/users/single/{{project.projectLeader._id}}">{{project.projectLeader.firstName}} {{project.projectLeader.lastName}}</a>
        </li>
        <li class="section-item-data-item">
          <octicon type="rocket"></octicon>
          <strong>Release date: </strong>
          <span>{{project.releaseDate | date:'dd/MM/yyyy'}}</span>
        </li>
      </ul>
      <div class="section-item-description" ng-bind="project.description"></div>
      <a ng-href="#/tasks/by/project/{{project._id}}" class="btn btn-info btn-block">
        <octicon type="dashboard"></octicon> View tasks
      </a>
      <a ng-href="#/projects/edit/{{project._id}}" class="btn btn-primary btn-block">
        <octicon type="pencil"></octicon> Edit project
      </a>
      <a ng-click="deleteProject()" class="btn btn-danger btn-block">
        <octicon type="x"></octicon> Delete project
      </a>
    </div>
  </article>
</section>
