<section class="row">
  <article class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">

      <header ng-bind="project.name" class="panel-heading"></header>

      <div class="panel-body">
        <strong>Project owner: </strong>
        <a ng-href="#/clients/single/{{project.owner}}" ng-bind="project.ownerName"></a><br>

        <strong>Scrum Master: </strong>
        <a ng-href="#/users/single/{{project.scrumMaster}}" ng-bind="project.scrumMasterName"></a><br>

        <strong>Release date: </strong>
        <span ng-bind="project.releaseDate"></span><br>

        <strong>Github link:</strong>
        <a ng-href="{{project.github.html_url}}">{{project.github.html_url}}</a>

        <legend>Description:</legend>
        <div ng-bind="project.description"></div>

        <strong>List of commits:</strong>
        <ul>
          <li ng-repeat="commit in project.github.commits_list">
            <a ng-href="{{commit.parents[0].html_url}}" ng-bind="commit.commit.message" target="_blank"></a>
          </li>
        </ul>
      </div>

      <footer class="panel-footer">
        <a ng-href="#/tasks/by/project/{{project.id}}" class="btn btn-sm btn-block btn-default">
          <span class="glyphicon glyphicon-tasks"></span> View tasks
        </a>
        <a ng-href="#/projects/edit/{{project.id}}" class="btn btn-sm btn-block btn-default">
          <span class="glyphicon glyphicon-pencil"></span> Edit project
        </a>
        <button ng-click="deleteProject()" class="btn btn-sm btn-block btn-danger">
          <span class="glyphicon glyphicon-remove"></span> Delete project
        </button>
      </footer>

    </div>
  </article>
</section>