<section class="row">
  <article class="col-md-8 col-md-offset-2">
    <form role="form" ng-submit="sendForm()" class="panel panel-default">

      <header class="panel-heading">New task</header>

      <div class="panel-body">
          <div class="alert alert-success alert-dismissable" ng-if="taskCreated">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span ng-bind="taskCreatedTxt"></span>
          </div>
          <div class="form-group">
            <label for="taskname">Name</label>
            <input type="text" id="taskname" class="form-control" ng-model="task.name" placeholder="taskname" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" ng-model="task.description" placeholder="Description" required rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="project">Project</label>
            <select name="project" id="project" class="form-control" required ng-model="task.project">
              <option ng-repeat="project in projects" ng-value="{{project.id}}">{{project.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="user">User assigned</label>
            <select name="user" id="user" class="form-control" required ng-model="task.userAsigned">
              <option ng-repeat="user in users" ng-value="{{user.id}}">{{user.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="priority">Priority:</label>
            <input type="number" id="priority" class="form-control" ng-model="task.priority" placeholder="Priority" required>
          </div>
          <div class="form-group">
            <label for="estimated-time">Estimated time</label>
            <select name="estimated-time" id="estimated-time" class="form-control" ng-model="task.estimatedTime" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="4">4</option>
              <option value="6">6</option>
              <option value="8">8</option>
            </select>
          </div>
          <div class="form-group">
            <label for="required-time">Required time</label>
            <select name="required-time" id="required-time" class="form-control" ng-model="task.requiredTime" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="4">4</option>
              <option value="6">6</option>
              <option value="8">8</option>
            </select>
          </div>
          <input type="hidden" value="to do" ng-model="task.stateName" id="status" name="status">
      </div>

      <footer class="panel-footer">
        <button type="submit" class="btn btn-sm btn-block btn-primary">
          Submit
        </button>
      </footer>

    </form>
  </article>
</section>